body {
  background-color: rgb(221, 216, 208);
  min-height: '100vh';
  color: #92765f;
}

table.searchresults {
  border-collapse:collapse;
}

tr.searchresults:hover {
  background-color: #ccc3bc;
}




.loginbox {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loginitems {
  background-color: #f3f0ea;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.loginitem {
  border: 0.5px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #92765f;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 40px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loginbutton {
  border-radius: 10px;
  color: #92765f;
  outline-color: #92765f;
  outline-style: solid;
  outline-width: 1px;
  border: 0px;
  background-color: #f3f0ea;
  width: 300px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.loginbutton:hover {
  background-color: #92765f;
  color: white;
}

.profilename {
  font-family: 'Playfair display';
  font-size: 20px;
}

::placeholder {
  color: #dbd1c8;
}

a:link {
  color: #92765f;
}

a:visited {
  color: #92765f;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}


.label {
  pointer-events: none;
  display: flex;
  align-items: center;
}

.switch,
.input:checked+.label .left,
.input:not(:checked)+.label .right {
  pointer-events: all;
  cursor: pointer;
}


.input {
  display: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #92765f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.label .slider {
  background-color: #92765f;
}

input:focus+.label .slider {
  box-shadow: 0 0 1px #92765f;
}

input:checked+.label .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.right {
  margin: 0 .5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}

.left {
  margin: 0 .5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}