body {
  background-color: rgb(221, 216, 208);
  min-height: '100vh';
  color: #92765f;
}

.loginbox {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loginitems {
  background-color: #f3f0ea;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.loginitem {
  border: 0.5px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #92765f;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 40px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loginbutton {
  border-radius: 10px;
  color: #92765f;
  outline-color: #92765f;
  outline-style: solid;
  outline-width: 1px;
  border: 0px;
  background-color: #f3f0ea;
  width: 300px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.loginbutton:hover {
  background-color: #92765f;
  color: white;
}

.profilename {
  font-family: 'Playfair display';
  font-size: 20px;
}

::placeholder {
  color: #92765f;
}

a:link {
  color: #92765f;
}

a:visited {
  color: #92765f;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}