body {
  background-color: rgb(221, 216, 208);
  min-height: '100vh';
  color: #5E665B;
  background-image: url('/static/backgroundpopcorn.jpg');
  background-size: 50px;
  background-repeat: repeat;
}
button:hover {
  cursor:pointer;
}

.main {
  margin-top: 60px;
}

.navbarContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 10;
  height: 40px;
}

.push {
  margin-left: auto;
}
.push a:hover {
  color: #5E665B;
}

.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.separator {
  margin-top: 10px;
  width: 100%;
  height: 0.5px;
  background-color: #5E665B;
}

.profilecontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profileitems {
  width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

.profilename {
  font-family: 'Playfair display';
  font-size: 30px;
  margin-left: 10px;
}

.profileinfocontainer {
  display: flex;
  margin-top: 10px;
}

.profileimageandname {
  word-break: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  font-weight: bold;
}
.profileimage {
  margin-left: 10px;
  outline-style: solid;
}

.profilestatscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  width: 275px;
}

.profilestats {
  display: flex;
  gap: 20px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statnumber {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.profilebuttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.profiletoggle {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

button.profilebutton {
  width: 130px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #ffffff;
  outline: none;
  border: 0px;
  color: #5E665B;
  height: 30px;
}

.watchlistcontainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.watchlisttable {
  border-spacing: 10px;
}

.updatescontainer {
  display: flex;
  justify-content: center;
}
.updatestable td {
  border-bottom: 0.5px solid #5E665B;
}

.updatestablerowfalse {
  row-gap: 10px;
  background-color: rgb(202, 207, 192);
}
.updatestablerowtrue {
  row-gap: 10px;
}

.updatestabledata {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-bottom: 3px;
}


table.searchresults {
  border-collapse: collapse;
}

tr.searchresults:hover {
  background-color: #ccc3bc;
}

.clickresultloading {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.loginbox {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loginitems {
  background-color: #f3f0ea;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.loginitem {
  border: 0.5px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #5E665B;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 40px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.searchitems {
  background-color: #f3f0ea;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  align-items: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.searchitem {
  border: 0.5px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #5E665B;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 40px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.searchitemnumber {
  border: 0.5px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #5E665B;
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 40px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loginbutton {
  border-radius: 10px;
  color: #5E665B;
  outline-color: #5E665B;
  outline-style: solid;
  outline-width: 1px;
  border: 0px;
  background-color: #f3f0ea;
  width: 300px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.loginbutton:hover {
  background-color: #5E665B;
  color: white;
}

.uploadprofilepic {
  font-family: 'Playfair display';
  font-size: 30px;
}

.editprofilepage {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.editprofiletable {
  display: flex;
  justify-content: center;
}

.editprofileitems {
  word-break: break-word;
  background-color: rgb(221, 216, 208);
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.friendwatchlistprofile {
  display: flex;
  align-items: center;
}

.searchbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentpagecontainer {
  display: flex;
  justify-content: center;
}

.contentpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 600px;
}

.contenttitle {
  font-family: 'Playfair display';
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contentblock {
  display: flex;
  flex-direction: row;
}

img.contentposter {
  width: 130px;
  display: flex;
}

.contentinfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 15px;
}

.contentallbuttons{
  margin-right: auto;
  margin-top: 10px;
}

.emptyqueue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 100px;
  text-align: center;
  background-color: rgb(208, 204, 199);
}

.queuelabel {
  margin-left: 10px;
  font-family: 'Playfair display';
  font-weight: bold;
}

.queuecontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.queueimagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.queueimageandoverlay{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  color: white;
  background-color: #5E665B;
}

.queueimageandoverlay:hover .overlay {
  opacity: 1;
}

.queueimageandkey {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logoutbutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.logoutbutton button {
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #ffffff;
  outline: none;
  border: 0px;
  color: #5E665B;
  height: 30px;
  margin-right: 10px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.logoutbutton button:hover {
  background-color: #5E665B;
  color: #ffffff;
}


button.queue {
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #ffffff;
  outline: none;
  border: 0px;
  color: #5E665B;
  height: 30px;
  margin-right: 10px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

button.queue:hover {
  background-color: #5E665B;
  color: #ffffff;
}

button.added {
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #5E665B;
  outline: none;
  border: 0px;
  color: white;
  height: 30px;
  margin-right: 10px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

button.whoswatching {
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  background-color: white;
  outline-width: 1px;
  border: 0px;
  color: #5E665B;
  height: 30px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

button.whoswatching:hover {
  background-color: #5E665B;
  color: #ffffff;
}

button.currentlywatching {
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  background-color: white;
  outline-width: 1px;
  border: 0px;
  color: #5E665B;
  height: 30px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-right: 10px;
}

button.clickedcurrentlywatching {
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #5E665B;
  outline-width: 1px;
  border: 0px;
  color: white;
  height: 30px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-right: 10px;
}

button.currentlywatching:hover {
  background-color: #5E665B;
  color: #ffffff;
}

button.watched {
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #5E665B;
  outline-color: #5E665B;
  outline-style: solid;
  outline-width: 1px;
  border: 0px;
  color: white;
  height: 30px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

button.notwatched {
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgb(221, 216, 208);
  box-shadow:inset 0 0 0 2px #5E665B;
  border: 0px;
  color: #5E665B;
  height: 30px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

button.notwatched:hover {
  background-color: #5E665B;
  color: white
}

.containsspoiler {
  font-size: 14px;
}

input[type='checkbox']#containsspoiler {
  accent-color: #5E665B;
}

.textareacontainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.leavereview {
  min-width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  outline-width: 0px;
  border-width: 0px;
  font-family: Helvetica, sans-serif;
  padding: 10px;
}

.reviewbuttoncontainer {
  display: flex;
  margin-top: 5px;
}

.ratingreviewbuttons {
  margin-left: auto;
}

.ratingerror {
  margin-left: auto;
}

.rating {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
}

.reviewcontainer {
  margin-top: 10px;
  background-color: rgb(241, 237, 230);
  padding: 10px;
}

.reviewtext {
  margin-top: 10px;
}

.reviewusername {
  font-weight: bold;
}

.datestring {
  font-size: 12px;
  font-style: italic;
}

select.leaverating {
  font-size: 14px;
  height: 25px;
  border-width: 1px;
  outline-width: 0px;
  border-color: #5E665B;
  background-color: white;
  color: #5E665B;
}

button.submitreview {
  margin-left: 5px;
  height: 25px;
  outline-width: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #5E665B;
  background-color: white;
  color: #5E665B;
}



input[type=file] {
  background-color: rgb(221, 216, 208);
  border: rgb(221, 216, 208);
  display: block;
  color: #5E665B;
  font-style: oblique;
}

input[type="file"]::file-selector-button {
  border: 1px solid #5E665B;
  color: #5E665B;
  padding: 0.2em 0.4em;
  border-radius: 7px;
  background-color: #f3f0ea;
  transition: 1s;
}

::placeholder {
  color: #dbd1c8;
}

a:link {
  color: #5E665B;
}

a:visited {
  color: #5E665B;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}


.label {
  pointer-events: none;
  display: flex;
  align-items: center;
  color: #5E665B;

}

.switch,
.input:checked+.label .left,
.input:not(:checked)+.label .right {
  pointer-events: all;
  cursor: pointer;
  color: #5E665B;
}


.input {
  display: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5E665B;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.label .slider {
  background-color: #5E665B;
}

input:focus+.label .slider {
  box-shadow: 0 0 1px #5E665B;
}

input:checked+.label .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.right {
  margin: 0 .5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}

.left {
  margin: 0 .5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}

.activityfeedpage{
  width: 100%;
  margin-right: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.activityfeedcontainer{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
}

.activityfeeditem{
  background-color: rgb(241, 237, 230);
  margin-bottom: 10px;
  width: 400px;
  outline-style: solid;
  outline-width: 0.5px;
  outline-color: #5E665B;
}

.activityfeedtype {
  display: flex;
  align-items: center;

  justify-content: center;
  border-bottom: 0.5px solid;
  margin-bottom: -0.5px;
  margin-top: 5px;
  width: 100%;
  height: 40px;
}

.activityfeedreviewblock{
  border-bottom: 0.5px solid;
  margin-bottom: -0.5px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activityfeedreview {
  margin: 6px;
  text-align: left;
}

img.activityfeedcontentposter {
  width: 60px;
  display: flex;
}

.activityfeeditemblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activityfeedcontentallbuttons{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-top: 10px;
  row-gap: 5px
}

.activityfeedcontentblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.5px solid;
  margin-bottom: -0.5px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.activityfeedengagement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 40px;
  color: #5E665B;

}

button.activityfeedqueue {
  width: 110px;
  height: 25px;
  font-size: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  outline: none;
  border: 0px;
  color: #5E665B;
  margin-right: 10px;
}

button.activityfeedqueue:hover {
  background-color: #5E665B;
  color: #ffffff;
}

button.activityfeedadded {
  width: 110px;
  height: 25px;
  font-size: 10px;
  border-radius: 10px;
  background-color: #5E665B;
  outline: none;
  border: 0px;
  color: white;
  margin-right: 10px;
}

button.activityfeedwhoswatching {
  width: 110px;
  height: 25px;
  font-size: 10px;
  border-radius: 10px;
  background-color: white;
  outline-width: 1px;
  border: 0px;
  color: #5E665B;

}

button.activityfeedwhoswatching:hover {
  background-color: #5E665B;
  color: #ffffff;
}

button.activityfeedcurrentlywatching {
  width: 110px;
  height: 25px;
  font-size: 10px;
  border-radius: 10px;
  background-color: white;
  outline-width: 1px;
  border: 0px;
  color: #5E665B;
  margin-right: 10px;
}

button.activityfeedclickedcurrentlywatching {
  width: 110px;
  height: 25px;
  font-size: 10px;
  border-radius: 10px;
  background-color: #5E665B;
  outline-width: 1px;
  border: 0px;
  color: white;
  margin-right: 10px;
}

button.activityfeedcurrentlywatching:hover {
  background-color: #5E665B;
  color: #ffffff;
}

button.activityfeedwatched {
  width: 110px;
  height: 25px;
  font-size: 10px;
  border-radius: 10px;
  background-color: #5E665B;
  outline-color: #5E665B;
  outline-style: solid;
  outline-width: 1px;
  border: 0px;
  color: white;
}

button.activityfeednotwatched {
  width: 110px;
  height: 25px;
  font-size: 10px;
  border-radius: 10px;
  background-color: rgb(221, 216, 208);
  box-shadow:inset 0 0 0 2px #5E665B;
  border: 0px;
  color: #5E665B;
}

button.activityfeednotwatched:hover {
  background-color: #5E665B;
  color: white
}
